.searchbar_container {
  background-image: url('https://slack-imgs.com/?c=1&o1=ro&url=https%3A%2F%2Fwww.wbcsd.org%2Fvar%2Fsite%2Fstorage%2Fimages%2Fmedia%2Fimages%2Ffresh_pa%2F80809-2-eng-GB%2FFRESH_PA_i1140.jpg');
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.searchbar
{
  /*border: 5px solid #66666666;*/
  height: 38px;
  width: 50%;
  box-shadow: 0px 0px 20px 10px#333333bb;
}