.hey2 {
    background-color: #BEE8B7;
    border: 0;
    padding: 0;
    margin: 0;
}

.hello2, .light, .lg {
    background-color: #BEE8B7;
    margin: 0;
    border: 0;
    padding: 0;
    margin: 0;
}

.row2 {
    background-color: #BEE8B7;
    border: 0;
    padding: 0;
    margin: 0;
}