.myrecipe-button {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  font-weight: bold;
  font-family: Charter, Georgia, Times, Serif;
  font-size: 2.8rem;
}

.modal-content, .modal-body {

  font-family: Charter, Georgia, Times, Serif;
}

.nav-link {
  color: #198754 !important;
  font-family: Charter, Georgia, Times, Serif;
  font-size: 20px;
}

.nav-link:hover {
  color: red !important;
}